<div class="container">
    <div class="campaigns-container mat-elevation-z8">
        <h1 class="h1-comercios"></h1>

        <div class="campaigns-table-container">

            <mat-table [dataSource]="campaignsTable" matSort class="table-mat">

                <ng-container matColumnDef="IdCampaign">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.IdCampaign}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Campaign">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Campaign</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.Campaign}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="CampaignCode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.CampaignCode}}</mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="StartDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>StartDate</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.StartDate}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="EndDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>EndDate</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.EndDate}}</mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="Click">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Click</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.Click}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Impression">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Impression</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.Impression}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="Budget">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Budget</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.Budget}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="CustomerAccount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>CustomerAccount</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.CustomerAccount}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Platform">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Platform</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.Platform}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="15">Loading data...</mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="15">No data</mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedCampaignsColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedCampaignsColumns;" (click)="clickedRows.clear(); clickedRows.add(row); editCampaign=false" [class.campaign-row-is-clicked]="clickedRows.has(row)"></mat-row>

                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':campaignsTable!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(campaignsTable!=null && campaignsTable.data.length==0)}"></mat-footer-row>

            </mat-table>
        </div>
    </div>

    <button mat-raised-button class="button-add" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
    </button>

    <button mat-raised-button class="button-add" (click)="openUpdateDialog()" [disabled]="editCampaign">
        <mat-icon>edit</mat-icon>
    </button>

    <button mat-raised-button class="button-add" (click)="delete()" [disabled]="editCampaign">
        <mat-icon>delete</mat-icon>
    </button>

</div>